In [6]:
import pandas as pd
df = pd.read_excel(r'E:\stockData.xlsx')
df

         Date     Open     High      Low    Close   Volume
0  2022-06-15  2177.99  2241.26  2162.38  2207.81  1659601
1  2022-06-14  2137.80  2169.15  2127.04  2143.88  1274047
2  2022-06-13  2148.92  2184.37  2131.76  2137.53  1837810
3  2022-06-10  2255.63  2269.94  2217.22  2228.55  1567487
4  2022-06-09  2326.83  2367.00  2297.34  2298.36  1157080
5  2022-06-08  2337.53  2372.92  2333.94  2344.76  1127213
6  2022-06-07  2312.96  2354.97  2302.51  2344.59  1320677
7  2022-06-06  2334.85  2387.97  2330.57  2340.21  1189336
8  2022-06-03  2319.85  2327.29  2273.36  2291.28  1247604
9  2022-06-02  2283.76  2357.96  2266.16  2354.92  1374770
10 2022-06-01  2298.63  2347.98  2271.01  2282.74  1431464
11 2022-05-31  2261.58  2328.67  2251.45  2280.78  2565096
12 2022-05-27  2195.77  2257.36  2191.00  2255.98  1496221
13 2022-05-26  2121.01  2179.11  2109.76  2165.92  1514374
14 2022-05-25  2102.84  2130.89  2084.23  2116.79  1894967
15 2022-05-24  2127.55  2127.90  2044.16  2118.52  3019319
16 2022-05-23  2202.08  2240.11  2183.09  2233.33  1577911
17 2022-05-20  2241.71  2251.00  2127.46  2186.26  1879301
18 2022-05-19  2236.82  2271.75  2209.36  2214.91  1459587
19 2022-05-18  2304.75  2313.91  2242.84  2248.02  1399138
20 2022-05-17  2344.55  2344.55  2306.75  2334.03  1078804
21 2022-05-16  2307.68  2332.15  2286.70  2295.85  1164119